---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="text-center">
  <span class="text-base font-medium tracking-tight", style="font-family: 'Arial', serif;">
    {authors.map((author, index) => (
      <>
        {author.url ? (
          <a href={author.url} class="hover:underline text-blue-600">
            {author.name}
          </a>
        ) : (
          author.name
        )}
        {author.notes && (
          <sup class="text-xs font-normal">
            {author.notes.map(
              (note, noteIndex, notesArray) =>
                note + (noteIndex < notesArray.length - 1 ? "," : "")
            )}
          </sup>
        )}
        {index < authors.length - 1 && ", "}
      </>
    ))}
  </span>
</div>
